.toppic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 60%;
}
h1 {
  text-align: center;
  font-size: 250%;
}
body {
  margin: 30px;
  background-color: rgb(189, 228, 230);
}

#h2text,
H2 {
  text-align: center;
  font-size: 200%;
  padding: 20px;
  background-color: cadetblue;
}
article,
h3 {
  font-size: 140%;
  font-style: italic;
}

ul {
  padding: 10px;
  text-align: center;
  list-style-type: none;
}
::selection {
  background-color: cadetblue;
}
p::first-letter {
  font-weight: bold;
  font-size: 150%;
}
a:visited,
:link {
  color: cadetblue;
}
a:hover,
a:focus {
  color: dodgerblue;
}
.link {
  font-size: 160%;
  font-weight: bold;
}

footer li {
  display: inline;
  font-size: 200%;
  /* margin: 10-0px;  changed margin form 30px to 10px */
}

#phone {
  font-size: 140%;
  padding: 5px;
}
.div {
  display: inline-block;

  width: 300px;
  margin-left: 110px;
  background-color: cadetblue;
  text-align: center;
}
li {
  padding: 20px;
}
.foot {
  display: inline-block;

  margin-left: auto;
  margin-right: auto;
  font-size: 60%;
  background-color: rgb(49, 58, 58);
  height: 150px;
  text-align: center;
}

.o1,
.o2,
.o3,
.o4 {
  width: 200px;
  height: 560px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;

  text-align: left;
  padding: 20px;
}
#div2 {
  font-size: 60%;
  font-style: italic;
  text-align: justify;
  text-justify: distribute-all-lines;
  -ms-text-justify: distribute;

  display: inline-block;

  border: 3px solid gray;
  width: 100px;
  height: 560px;
  min-width: 213px;

  background-color: cadetblue;
}
div .bl {
  font-size: 200%;
  padding: 10px;
}
#disclaimer {
  font-style: italic;
}

#btmhref :any-link {
  font-size: 200%;
}
